@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Kanit:wght@300&family=Poppins&family=Quicksand:wght@700&family=Roboto+Slab&family=Ubuntu&family=Varela+Round&display=swap');
:root {
  /*--color-primary: #6c63ff;*/
  /*--color-primary:#424890;*/
  --color-primary:#03548664;
  --color-success: #00bf8e;
  --color-warning: #f7c94b;
  /*--color-danger: #f75842;*/
  --color-define:#ff3c78;
  --color-danger:#ff960b;
  --color-danger-variant: rgba(247, 88, 66, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.7);
  --color-black: #000;
  --color-bg: #1f2641;
  /*--color-bg1: #2e3267;*/
  --color-bg1:#023055;

  --color-bg2: #03548664;
  --color-bg3: #2979ab64;


  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all 500ms ease;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
}

h2 {
  font-size: 30px;
  font-family: 'Chakra Petch', sans-serif;
}  

h1 {
  font-size: 100px;
  font-family: 'Chakra Petch', sans-serif;
}

header {
  background-image: linear-gradient(to right, #000000 0%, #212e3b 74%);
  margin-top: 50px;
  padding: 20px;
}

h1, h2 {
  margin: 0 15px;
}

.navbar {
  background-image: linear-gradient(to right, #000000 0%, #212e3b 74%);
  font-family: 'Kanit';
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 20px;
  z-index: 999;
  position: fixed;
  min-width: 100vw;
  left: 0;
  top: 0;
}
  
  .logo {
    padding: 15px;
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
  }
  
  .menu{
    right: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  .menu li {
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
    margin-left: 15px;
    margin-right: 30px;
  }
  
  .menu li a {
    color: #fff;
    text-decoration: none;
  }
  
  .menu li a:hover,
  .menu li a.active{
    color: #7c4040;
  }
  
  .menu li a.active::after,
  .menu li a:hover::after{
    width: 30%;
    height: 2px;
    background: #088178;
    position:absolute;
    bottom: -4px;
    left: 20px;
  }
  
  @media screen and (max-width: 700px) {
    .navbar {
      flex-direction: column;
    }
  
    .navbar-brand {
      text-align: center;
    }
  
    .navbar-menu {
      width: 100%;
    }
  
    .navbar-menu li {
      display: block;
    }
  
    .navbar-menu li a {
      text-align: right;
    }
  }
  
  .intro h1 {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    border-right: 2px solid;
    animation: typing 3s steps(30, end) forwards, blinking 1s infinite;
    animation-duration: 1.5s;
    animation-timing-function: steps(40, end);
    animation-fill-mode: forwards;
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 34vw }
  }

  @keyframes blinking {
    0% {border-right-color: transparent}
    20% {border-right-color: wheat}
    40% {border-right-color: transparent}
    60% {border-right-color: wheat}
    80% {border-right-color: transparent}
    100% {border-right-color: wheat}
  }

main {
    margin: 20px;
    color: #fff;
  }

.hero{
  height: 70vh;
  padding: 50px 10px;
}

.click-me {
  margin: 20px;
  cursor: pointer;
  position: relative;
  padding: 20px;
  text-align: center;
  width: 200px;
  background: linear-gradient(to right, #1e8372, rgb(179, 211, 115), rgb(223, 199, 168), #9bb9e0, #1e8372);
  border-radius: 50px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  background-size: 300% 100%;
  transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  color: black;
}

.click-me:hover {
  background-position: 100% 0;
  transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  animation: gradient 3s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
#whyonestop{
margin-top: 100px;
}
#whyonestop h2{
  text-align: center;
  font-size: 60px;
  animation: moveInBottom 2s;
}

#whyonestop p,
#whyonestop ul{
  animation: moveInLeft 3s;
}

#whyonestop p{
  font-size: 30px;
}

@keyframes moveInBottom{
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100%{
    opacity: 100;
    transform: translateY(0);
  }
}
@keyframes moveInRight{
  0% {
    opacity: 0;
    transform: translate(100px);
  }
  80%{
    transform: translate(-10px);

  }
  100%{
    opacity: 100;
    transform: translate(0);
  }
}
@keyframes moveInLeft{
  0% {
    opacity: 0;
    transform: translate(-100px);
  }
  80%{
    transform: translate(10px);

  }
  100%{
    opacity: 100;
    transform: translate(0);
  }
}
/* ==================== Features ================= */


.achievements__cards {
  row-gap: 2rem;
}

.features__cards .feature__card {
  background: var(--color-bg3);
  padding: 3rem;
  border-radius: 1rem;
  text-align: center;
  transition: var(--transition);
  border-top: 2px solid;
  border-right: 2px solid;
  border-color: #102d3c;
  box-shadow: 0 0 30px 0.1px hsla(0, 0%, 0%, 0.955);
  width: 250px;
  height: 180px;
}

.feature__card:hover {
  background: var(--color-bg2);
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.3);
  z-index:100;
  width:230px;
  height: 160px;
  z-index: 100;
}

.row1,
.row2{
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
.row1{
  margin-top: 50px;
}
.row2{
  margin-bottom: 50px;
}
.feature__icon {
  background: var(--color-danger);
  padding: 0.6rem;
  border-radius: 1rem;
  display: inline-block;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.feature__card:nth-child(2) .feature__icon {
  background: var(--color-success);
}

.feature__card:nth-child(3) .feature__icon {
  background: var(--color-primary);
}

.feature__card p {
  margin-top: 1rem;
}


/* ==================== MEDIA QUERIES (TABLETS) ================= */
@media screen and (max-width: 1024px) {
  .about__achievements {
    margin-top: 2rem;
  }

  .about__achievements-container {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .about__achievements-left {
    width: 80%;
    margin: 0 auto;
  }

  .team__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }

  .team__member {
    padding: 1rem;
  }
}

/* ==================== MEDIA QUERIES (TABLETS) ================= */
@media screen and (max-width: 600px) {

  .team__container {
    grid-template-columns: 1fr 1fr;
    gap: 0.7rem;
  }

  .team__member {
    padding: 0;
  }

  .team__member p {
    margin-bottom: 1.5rem;
  }
}
.intro p{
  font-size: 30px;
  margin: -5px 10px;
  padding: 0 10px ;
  font-family: 'Poppins', sans-serif;
}
span{
  color: antiquewhite;
  font-weight: 1000;
}
a{
    color: #fff;
    text-decoration: none;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }

  .last{
    display: flex;
    justify-content: space-between;
  }
  .last .github{
    padding: 10px 20px;
    background-color: rgb(53, 85, 118);
    width: 46vw;
    height:40vh;
    border-radius: 30px;
  }
  .github {
    background-image: url("github.jpg");
    opacity: 100%;
    padding: -100px;
    object-fit: scale-down;
  }

  .last .contactus{
    padding: 10px 20px;
    background-color:rgb(16, 98, 94);
    width: 46vw;
    border-radius: 30px;

  }
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    background-color: #000000;
    color: #fff;
    /* padding: 20px; */
    text-align: center;
  }

  .social-media li {
    display: inline-block;
    margin: 0 10px;
  }
  
  .social-media li a {
    color: #fff;
    font-size: 24px;
  }

/* Mobile-first styles */
@media only screen and (max-width: 600px) {
    nav {
      position: fixed;
      top: 70px;
      left: 0;
      right: 0;
      display: block;
      background-color: #333;
      color: #fff;
    }
  
    nav ul {
      flex-direction: column;
      align-items: center;
    }
  
    nav ul li {
      margin-bottom: 20px;
    }
  
    #menu-toggle {
      display: block;
      background-color: #333;
      color: #fff;
      border: none;
      font-size: 24px;
      cursor: pointer;
    }
  
    main {
      margin-top: 120px;
    }
  }
  
  /* Desktop styles */
  @media only screen and (min-width: 601px) {
    header {
      flex-direction: row;
      align-items: center;
    }
  
    #menu-toggle {
      display: none;
    }
  
    nav {
      display: block;
    }
  
    main {
      margin-top: 20px;
    }
  }
  