@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Kanit:wght@300&family=Poppins&family=Quicksand:wght@700&family=Roboto+Slab&family=Ubuntu&family=Varela+Round&display=swap');
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
}

h2 {
  font-size: 30px;
  font-family: 'Chakra Petch', sans-serif;
}  

h1 {
  font-size: 100px;
  font-family: 'Chakra Petch', sans-serif;
}

header {
  background-image: linear-gradient(to right, #000000 0%, #212e3b 74%);

  padding: 20px;
}

h1, h2 {
  margin: 0 15px;
}

.navbar {
  background-image: linear-gradient(to right, #000000 0%, #212e3b 74%);
  font-family: 'Kanit';
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 20px;
  z-index: 999;
  position: fixed;
  min-width: 100vw;
  left: 0;
  top: 0;
}
  
  .logo {
    padding: 15px;
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
  }
  
  .menu{
    right: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  .menu li {
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
    margin-left: 15px;
    margin-right: 30px;
  }
  
  .menu li a {
    color: #fff;
    text-decoration: none;
  }
  
  .menu li a:hover,
  .menu li a.active{
    color: #ffd6d6;
  }
  
  .menu li a.active::after,
  .menu li a:hover::after{
    width: 30%;
    height: 2px;
    background: #088178;
    position:absolute;
    bottom: -4px;
    left: 20px;
  }
  
  @media screen and (max-width: 700px) {
    .navbar {
      flex-direction: column;
    }
  
    .navbar-brand {
      text-align: center;
    }
  
    .navbar-menu {
      width: 100%;
    }
  
    .navbar-menu li {
      display: block;
    }
  
    .navbar-menu li a {
      text-align: right;
    }
  }
  
  .intro h1 {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    border-right: 2px solid;
    animation: typing 3s steps(30, end) forwards, blinking 1s infinite;
    animation-duration: 1.5s;
    animation-timing-function: steps(40, end);
    animation-fill-mode: forwards;
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 34vw }
  }

  @keyframes blinking {
    0% {border-right-color: transparent}
    20% {border-right-color: wheat}
    40% {border-right-color: transparent}
    60% {border-right-color: wheat}
    80% {border-right-color: transparent}
    100% {border-right-color: wheat}
  }

main {
    margin: 20px;
    color: #fff;
  }

.hero{
  padding: 50px 10px;
}

.click-me {
  margin: 20px;
  cursor: pointer;
  position: relative;
  padding: 20px;
  text-align: center;
  width: 200px;
  background: linear-gradient(to right, #1e8372, rgb(179, 211, 115), rgb(223, 199, 168), #9bb9e0, #1e8372);
  border-radius: 50px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  background-size: 300% 100%;
  transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  color: black;
}

.click-me:hover {
  background-position: 100% 0;
  transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  animation: gradient 3s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.features{
  margin: 2px 0;
  padding: 2px;
  font-size: 50px;
  text-align: center;
  height: 200px;
  width: 96vw;
  background-color: #0b4341;
  border-radius: 20px;
  border: solid 0.5px hsl(0, 45%, 81%);
}

.feature1{
  margin: 20px 0;
  padding: 2px;
  font-size: 50px;
  text-align: center;
  height: 200px;
  width: 96vw;
  background-color: #14344a;
  border-radius: 20px;
  border: solid 0.5px hsl(0, 45%, 81%);
}
.feature2{
  margin: 20px 0;
  padding: 2px;
  font-size: 50px;
  text-align: center;
  height: 200px;
  width: 96vw;
  background-color: #915a07;
  border-radius: 20px;
  border: solid 0.5px hsl(0, 45%, 81%);
}
.feature3{
  margin: 20px 0;
  padding: 2px;
  font-size: 50px;
  text-align: center;
  height: 200px;
  width: 96vw;
  background-color: #65aba8;
  border-radius: 20px;
  border: solid 0.5px hsl(0, 45%, 81%);
}
.feature4{
  margin: 20px 0;
  padding: 2px;
  font-size: 50px;
  text-align: center;
  height: 200px;
  width: 96vw;
  background-color: #17a4a0;
  border-radius: 20px;
  border: solid 0.5px hsl(0, 45%, 81%);
}
.intro p{
  font-size: 30px;
  margin: -5px 10px;
  padding: 0 10px ;
  font-family: 'Poppins', sans-serif;
}
span{
  color: antiquewhite;
  font-weight: 1000;
}
a{
    color: #fff;
    text-decoration: none;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }

  .last{
    display: flex;
    justify-content: space-between;
  }
  .last .github{
    padding: 10px 20px;
    background-color: rgb(53, 85, 118);
    width: 46vw;
    height:40vh;
    border-radius: 30px;
  }
  .github {
    background-image: url("github.jpg");
    opacity: 100%;
    padding: -100px;
    object-fit: scale-down;
  }

  .last .contactus{
    padding: 10px 20px;
    background-color:rgb(16, 98, 94);
    width: 46vw;
    border-radius: 30px;

  }
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    background-color: #000000;
    color: #fff;
    /* padding: 20px; */
    text-align: center;
  }
  
  .social-media li {
    display: inline-block;
    margin: 0 10px;
  }
  
  .social-media li a {
    color: #fff;
    font-size: 24px;
  }

/* Mobile-first styles */
@media only screen and (max-width: 600px) {
    nav {
      position: fixed;
      top: 70px;
      left: 0;
      right: 0;
      display: block;
      background-color: #333;
      color: #fff;
    }
  
    nav ul {
      flex-direction: column;
      align-items: center;
    }
  
    nav ul li {
      margin-bottom: 20px;
    }
  
    #menu-toggle {
      display: block;
      background-color: #333;
      color: #fff;
      border: none;
      font-size: 24px;
      cursor: pointer;
    }
  
    main {
      margin-top: 120px;
    }
  }
  
  /* Desktop styles */
  @media only screen and (min-width: 601px) {
    header {
      flex-direction: row;
      align-items: center;
    }
  
    #menu-toggle {
      display: none;
    }
  
    nav {
      display: block;
    }
  
    main {
      margin-top: 20px;
    }
  }
  