@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Kanit:wght@300&family=Poppins&family=Quicksand:wght@700&family=Roboto+Slab&family=Ubuntu&family=Varela+Round&display=swap');
    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #071730;

  }

h2{
  font-size: 30px;
  font-family: 'Chakra Petch', sans-serif;
}  

h1{
  font-size: 100px;
  font-family: 'Chakra Petch', sans-serif;
}

header {
    background: #071730;
    padding: 20px;
  }
  
  h1, h2 {
    margin: 0 15px;
  }
  
  .navbar {
    font-family: 'Kanit';
    background: #071730;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 20px;
    z-index: 999;
    position: fixed;
    min-width: 100vw;
    left: 0;
    top: 0;
  }
  
  .logo {
    padding: 15px;
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
  }
  
  .menu{
    right: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  .menu li {
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
    margin-left: 15px;
    margin-right: 30px;
  }
  
  .menu li a {
    color: #fff;
    text-decoration: none;
  }
  
  .menu li a:hover,
  .menu li a.active{
    color: #ffd6d6;
  }
  
  .menu li a.active::after,
  .menu li a:hover::after{
    width: 30%;
    height: 2px;
    background: #088178;
    position:absolute;
    bottom: -4px;
    left: 20px;
  }
  
  @media screen and (max-width: 700px) {
    .navbar {
      flex-direction: column;
    }
  
    .navbar-brand {
      text-align: center;
    }
  
    .navbar-menu {
      width: 100%;
    }
  
    .navbar-menu li {
      display: block;
    }
  
    .navbar-menu li a {
      text-align: right;
    }
  }

  .name{
    padding: 100px;
    font-family: 'Chakra Petch',sans-serif;
    font-weight: 1000;
    font-size: 60px;
    text-align: left;
    color: #000;
    height: 70vh;
    background-color:cadetblue;
  
  }
  .sites{
    font-size: 50px;
    text-align: center;
    color: #000;
    height: 70vh;
    background-color: #ffd6d6;
  }
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    background-color: #000000;
    color: #fff;
    /* padding: 20px; */
    text-align: center;
  }
  
  .social-media li {
    display: inline-block;
    margin: 0 10px;
  }
  
  .social-media li a {
    color: #fff;
    font-size: 24px;
  }

/* Mobile-first styles */
@media only screen and (max-width: 600px) {
    nav {
      position: fixed;
      top: 70px;
      left: 0;
      right: 0;
      display: block;
      background-color: #333;
      color: #fff;
    }
  
    nav ul {
      flex-direction: column;
      align-items: center;
    }
  
    nav ul li {
      margin-bottom: 20px;
    }
  
    #menu-toggle {
      display: block;
      background-color: #333;
      color: #fff;
      border: none;
      font-size: 24px;
      cursor: pointer;
    }
  
    main {
      margin-top: 120px;
    }
  }
  
  /* Desktop styles */
  @media only screen and (min-width: 601px) {
    header {
      flex-direction: row;
      align-items: center;
    }
  
    #menu-toggle {
      display: none;
    }
  
    nav {
      display: block;
    }
  
    main {
      margin-top: 20px;
    }
  }